* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: rgb(122, 149, 132);
}
.wrapper {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
section {
  height: 100%;
  margin-block: 250px;
  max-width: 1600px;
}
header {
  background-color: rgb(122, 149, 132);
  position: fixed;
  top: 0;
  padding-block: 20px;
  left: 0;
  width: 100%;
  z-index: 11;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
nav p {
  padding-inline: 40px;
}
nav a {
  text-decoration: none;
  color: #ead2a7;
  padding: 5px 10px;
  font-family: sans-serif;
  letter-spacing: 1px;
}
nav a:hover {
  border-radius: 10px;
  background-color: rgb(100, 122, 108);
}
@media (max-width: 480px) {
  nav p {
    padding-inline: 5px;
  }
  nav a {
    font-size: 12px;
    padding: 5px 3px;
  }
}

.hpage {
  margin-top: 150px;
}
.hname {
  margin-bottom: 0px;
  padding: 0px;
  font-size: clamp(29px, 8vw, 150px);
  font-weight: 600;
  color: #ead2a7;
  letter-spacing: px;
  font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
}
.line1 {
  position: absolute;
  left: 0px;
  height: 10px;
  background-color: #ead2a7;
  animation: lineH 4s 1s infinite linear;
}
@keyframes lineH {
  0% {
    width: 0;
  }
  100% {
    width: 65%;
    opacity: 0;
  }
}
@media (max-width: 480px) {
  .line1 {
    position: absolute;
    left: 0px;
    height: 10px;
    background-color: #ead2a7;
    animation: lineH 4s 1s infinite linear;
  }
  @keyframes lineH {
    0% {
      width: 0;
    }
    100% {
      width: 85%;
      opacity: 0;
    }
  }
}
.hsubname {
  font-size: clamp(15px, 6vw, 60px);
  font-weight: 400;
  font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
  margin-block: 40px 10px;
  color: rgba(255, 255, 255, 0.659);
}

.hgoal {
  max-width: 600px;
  font-size: clamp(18px, 5vw, 30px);
  font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
  color: #ead2a7;
  line-height: 38px;
  letter-spacing: 1.2px;
  justify-content: space-around;
}

.about {
  font-size: clamp(18px, 2vw, 20px);
  font-family: sans-serif;
  color: #ead2a7;
  text-align: justify;
  letter-spacing: 1.2px;
  line-height: 1.3;
  width: 100%;
}
.atittle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0 40px;
  width: 100%;
  font-size: clamp(30px, 5vw, 40px);
  white-space: nowrap;
  font-family: sans-serif;
  color: rgb(39, 47, 42);
}
.summary {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.summary p {
  width: 100%;
  margin-right: 0px;
  font-size: clamp(18px, 5vw, 25px);
}

/* skills */

.otherskills {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0 40px;
  width: 100%;
  font-size: clamp(30px, 5vw, 40px);
  white-space: nowrap;
  font-family: sans-serif;
  color: rgb(39, 47, 42);
}
.skills_data {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 1.5rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-family: sans-serif;
}
.skills_title {
  font-size: clamp(20px, 5vw, 30px);
  font-weight: 500;
  color: #ead2a7;
}
.skills_subtitle {
  display: inline-block;
  font-size: clamp(18px, 5vw, 25px);
  margin-bottom: 40px;
  text-align: justify;
  color: rgb(47, 47, 47);
}
.skills_subtitle ul {
  display: flex;
  font-size: 18px;
  list-style: none;
}
.skills_subtitle ul li {
  padding-inline: 5px;
  color: #d9d9d9;
  margin-block: 20px 0px;
  font-family: sans-serif;
  text-decoration: underline;
}

.skills_rounder {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: #ead2a7;
  border-radius: 50%;
}

.skills_line {
  display: block;
  width: 1px;
  height: 100%;
  background-color: #ead2a7;
  transform: translate(6px, -7px);
}
@media (max-width: 480px) {
  .skills_data {
    grid-template-columns: 1fr;
    column-gap: 0rem;
  }
  .skills_title {
    margin-bottom: 10px;
  }
  .skills_subtitle {
    display: inline-block;
    font-size: clamp(18px, 5vw, 25px);
    margin-bottom: 30px;
  }
  .skills_subtitle ul li {
    margin-block: 0px 0px;
  }
  .skills_line {
    display: none;
  }
  .skills_rounder {
    display: none;
  }
}

/* contact */
#contact {
  margin-top: 50px;
}
.contact-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ftittle {
  margin-bottom: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(39, 47, 42);
  font-size: 30px;
}
.form-wrap {
  width: 80%;
  min-width: 200px;
  margin: 0 auto;
  padding: 20px 40px;
  box-shadow: 0 5px 30px black;
  background-color: rgb(100, 122, 108);
  border-radius: 5px;
}
form {
  width: 100%;
  margin-top: 20px;
}
form input {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border-style: none;
  background-color: rgba(174, 196, 182, 0.554);
}
form label {
  font-family: sans-serif;
  color: #ead2a7;
}
form div {
  margin-top: 10px;
}
form textarea {
  width: 100%;
  height: 100px;
  border-radius: 5px;
  border-style: none;
  resize: vertical;
  background-color: rgba(174, 196, 182, 0.554);
}
#priority {
  border-radius: 10px;
  background-color: rgb(81, 98, 87);
  color: #ead2a7;
}
.submit {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 5px;
  height: 45px;
  margin-block: 15px;
  font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
  color: #ead2a7;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  background-color: rgb(39, 48, 42);
  text-align: center;
  transition: 0.3s ease background-color;
}
.submit:hover {
  background-color: #a79471;
  color: #473004;
}

@media (max-width: 480px) {
  .form-wrap {
    width: 100%;
    min-width: 220px;
    margin: 0 auto;
    padding: 20px 20px;
  }
  form {
    margin-top: 10px;
  }
  form input {
    height: 30px;
  }
  form textarea {
    width: 100%;
    height: 70px;
  }
  .submit {
    height: 30px;
    margin-block: 15px;
    font-family: sans-serif;
  }
}

/* calculator */
.wrapper1 {
  position: relative;
  margin: 100px auto;
  width: 80%;
  max-width: 500px;
}
.tittle {
  color: hsl(0, 0%, 100%);
  font-size: 35px;
}
.tittle-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.toggle {
  position: relative;
  height: 20px;
  width: 40px;
  background-color: hsl(223, 31%, 20%);
  transition: 0.5s;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: inset 0 2px 10px hsl(222, 37%, 7%),
    inset 0 2px 8px hsl(222, 37%, 7%), inset 0 -4px 8px hsl(222, 37%, 7%);
}
.toggle .indicator {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: hsl(6, 63%, 50%);
  box-shadow: inset 0 1px 2px hsl(4, 17%, 68%),
    inset 0 -1px 2px hsl(5, 12%, 57%);
  transform: scale(0.8);
  transition: 0.5s;
}
.show {
  position: relative;
  background-color: hsl(224, 36%, 15%);
  height: 100px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: inset 0 2px 60px hsl(222, 37%, 7%),
    inset 0 2px 8px hsl(222, 37%, 7%), inset 0 -4px 8px hsl(222, 37%, 7%);
}
.shownumber {
  font-size: 45px;
  color: white;
  position: absolute;
  bottom: 25px;
  right: 10px;
}
.button-container {
  background-color: hsl(223, 31%, 20%);
  margin-top: 20px;
  border-radius: 10px;
  padding-block: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button,
.button1 {
  display: flex;
}
button {
  font-weight: 900;
  font-size: 30px;
  background-color: hsl(0, 0%, 90%);
  margin: 15px;
  padding: 5px;
  width: 90px;
  border-radius: 10px;
  color: hsl(221, 14%, 31%);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: inset 0 -5px 0px hsl(28, 16%, 65%);
  border: none;
}
.button .del {
  background-color: hsl(225, 21%, 49%);
  color: hsl(0, 0%, 100%);
  box-shadow: inset 0 -4px 0px hsl(245, 17%, 30%);
}
.button1 button {
  font-weight: 900;
  font-size: 30px;
  background-color: hsl(0, 0%, 100%);
  margin: 15px;
  padding: 5px;
  width: 210px;
  border-radius: 10px;
  color: hsl(221, 14%, 31%);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: inset 0 -4px 0px hsl(0, 0%, 69%);
  border: none;
}
.button1 .reset {
  background-color: hsl(225, 21%, 49%);
  color: hsl(0, 0%, 100%);
  box-shadow: inset 0 -4px 0px hsl(245, 17%, 30%);
}

.button1 .equal {
  background-color: hsl(6, 63%, 50%);
  color: hsl(0, 0%, 100%);
  box-shadow: inset 0 -4px 0px hsl(6, 70%, 34%);
}

@media (max-width: 480px) {
  button {
    font-weight: 600;
    font-size: 20px;
    background-color: hsl(0, 0%, 90%);
    margin: 7px;
    padding: 3px;
    width: 40px;
    border-radius: 10px;
    color: hsl(221, 14%, 31%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: inset 0 -5px 0px hsl(28, 16%, 65%);
    border: none;
  }
  .button .del {
    background-color: hsl(225, 21%, 49%);
    color: hsl(0, 0%, 100%);
    box-shadow: inset 0 -4px 0px hsl(245, 17%, 30%);
  }
  .button1 button {
    font-weight: 900;
    font-size: 20px;
    background-color: hsl(0, 0%, 100%);
    margin: 7px;
    padding: 3px;
    width: 95px;
    border-radius: 10px;
    color: hsl(221, 14%, 31%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: inset 0 -4px 0px hsl(0, 0%, 69%);
    border: none;
  }
}
